<div class='nav-container'>
    <nav class='nav'>
        <a class='nav-item' [routerLink]="['/devicelist']" >all</a>
        <a class='nav-item' [routerLink]="['/devicelist/cellar']">cellar</a>
        <a class='nav-item' [routerLink]="['/devicelist/ground%2Flivingroom']">livingroom</a>
        <a class='nav-item' [routerLink]="['/devicelist/ground%2Fwardrobe']">wardrobe</a>
        <a class='nav-item' [routerLink]="['/devicelist/ground%2Fkitchen']">kitchen</a>
        <a class='nav-item' [routerLink]="['/devicelist/first']">first</a>
        <a class='nav-item' [routerLink]="['/devicelist/outdoor']">outdoor</a>
        <a class='nav-item' [routerLink]="['/devicelist/solar']">solar</a>
    </nav>
</div>