
<div class="card-container">

    <div class="large-card" *ngIf="device">
        <div class = "card-line">
            <img class="card-img" width="64" alt="bild" [src]="device.value ? device[device.value] : device['on']" />
            <h2>{{ device.name }}</h2>
        </div>
        <div class = "card-spacer"></div>
        <div class = "card-line">
            <span class="card-label">status</span><span class="card-text">{{ device.value }}</span>
        </div>
        <div class = "card-line">
            <span class="card-label">change</span><span class="card-text">{{ device.timestamp | localTime }}</span>
        </div>
        <div class="card-line" *ngFor="let action of device.actions">
            <a>{{action}}</a>
        </div>
    </div>

</div>