
<div class="detail-container">

    <div class="detail-card" *ngIf="device">
        <div class = "detail-header">
            <img class="detail-img" width="64" *ngIf="device.value" alt="bild" [src]="device[device.value] ? device[device.value] : device['on']" />
            <span class="detail-headline">{{ device.name }}</span>
        </div>
        <div class = "detail-data" *ngIf="device.reason">
            <div class = "detail-data-row">
                <span class="detail-label">status</span><span class="detail-text">{{ device.value }}</span>
            </div>    
            <div class = "detail-data-row" *ngFor="let reason of device.reason; index as i">
                <span class="detail-label">{{ reason.timestamp | localTime:i===0 }}</span>
                <span class="detail-text">{{ reason.message }}</span>
            </div>
        </div>
        <div class="detail-buttons">
            <a class = "detail-button" (click)="onClick(device, action)" [class.active]="action === device.value" *ngFor="let action of device.actions"  >
                {{action}}
            </a>
        </div>
    </div>

    <app-device-history></app-device-history>

</div>