.sub-container {
    display: flex;
    width: 1200px;
    min-width: 320px;
    margin: 32px auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 60px;
    width: 350px;
    max-width: 500px;
    margin: 0 8px 8px;
    padding: 8px;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

.card-clickable {
    display: flex;
    flex-direction: row;
}

.card-img {
    width: 64px;
    border-radius: 10%;
    margin-left: 0px;
    margin-right: 20px;
}

.card-details {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    padding: 20px 0 0 0;
    text-align: center;
    background-color: rgb(225, 225, 225);
    border-radius: 0 4px 4px 0;
    color: hsl(196, 100%, 100%);
    font-weight: 600;
    font-size: 30px;
}

.card-container .card:not(.highlight-card) {
    cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
}

.card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
}

.card-name {
    font-size: 20px;
    font-weight: 600;
    color: #555;
    line-height: 1.4;
}

.card-status {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    line-height: 1.8;
}

a,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

/* Responsive Styles */
@media only screen and (max-width: 1200px) {

    .sub-container {
        width: 100%;
    }
}

/* Responsive Styles */
@media only screen and (max-width: 767px) {

    .card-nav {
        display: none;
    }

    .card {
        width: 100%;
        max-width: 767px;
        margin-left: 0;
        margin-right: 0;
    }
}

